.teamsPageContainer {
    max-width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
/*     overflow: hidden; */
}

.memberWrapper {
    max-width: 100%;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.memberContent {
    width: 95%;
    height: 95%;
    display: flex;
    user-select: none;
    background-image: linear-gradient(45deg, rgb(33,33,33) 0%,transparent 73%),repeating-linear-gradient(90deg, rgba(127, 127, 127,0.1) 0px, rgba(127, 127, 127,0.1) 1px,transparent 1px, transparent 17px),repeating-linear-gradient(0deg, rgba(127, 127, 127,0.1) 0px, rgba(127, 127, 127,0.1) 1px,transparent 1px, transparent 17px),linear-gradient(0deg, rgb(33,33,33),rgb(33,33,33));
    border-radius: 50px;
    box-shadow: 2px 2px 20px black;
}

.member1st {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

#mainImage {
    height: 70%;
    width: 70%;
    z-index: 1;
    object-fit: cover;
    object-position: -375px;
    filter: drop-shadow(2px 2px 10px black);
}

#CharacterElement {
    width: 50px;
    height: 50px;
    position: relative;
    z-index: 1;
    object-position: 0px;
    margin: 10px;
}

.member1st h1 {
    font-size: 50px;
    margin: 10px;
    font-family: 'Noto Sans JP';
}

.member2nd {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.memberinfo {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    pointer-events: none;
}

#CharacterName {
    font-size: 6vw;
    font-family: 'Noto Sans JP';
    text-align: justify;
    z-index: 1;
    color: black;
    text-shadow: 2px 0px 2px white, -2px 0px 2px white, 0px 2px 2px white, 0px -2px 2px white;
    position: relative;
    
}

.CharacterJP {
    font-size: 6vw;
    z-index: 0;
    font-family: 'Noto Sans JP';
    text-align: justify;
    text-shadow: 2px 0px 2px white, -2px 0px 2px white, 0px 2px 2px white, 0px -2px 2px white;
}

#CharacterDescription {
    padding: 10px;
    font-size: 1.8vw;
    width: 90%;
    font-family: 'Noto Sans JP';
    text-align: justify;
    color: white;
    transform: translateY(-30px);
}

.memberinfo section {
    display: flex;
    flex-direction: column;
}

.talent {
    display: flex;
    align-items: center;
}

.talent h1 {
    margin: 10px;
    font-size: 25px;
    font-family: 'Noto Sans JP';
    font-weight: 800;
    color: white;
}

.talent img {
    width: 50px;
    height: 50px;
    margin: 10px 0px ;
}

.characterNameContainer {
    width: 100%;
    height: 40%;
    display: flex;
    align-items: flex-end;
    z-index: 1;
}

.CharacterDescriptionContainer{
    height: 60%;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 1;
}

.memberindexes {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
}

.memberindexes h1 {
    margin: 10px;
    cursor: pointer;
    border-left: 2px solid transparent;
    transition: .2s;
    padding: 10px;
    font-size: 15px;
    color: white;
}

.memberindexes h1:hover {
    color: rgb(118, 91, 91);
}

#nextArrow {
    width: 100%;
    height: 30%;
}

.memberindexes section:nth-child(2) {
    width: 100%;
    height: 70%;
}

#nextArrow article {
    display: flex;
    align-items: center;
}

#nextArrow article h1{
    font-size: 15px;
}

.memberindexes section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.arrowNext {
    color: white;
    font-size: 20px;
    opacity: 0;
    transition: .4s;
    transform: translateX(-15px);
}

.memberindexes section:nth-child(1) article:hover .arrowNext {
    opacity: 1;
    transform: translateX(0px);
}

@media only screen and (max-width:991px) {
    .memberWrapper {
        height: 150vh;
    }

    .member1st {
        position: absolute;
        width: 100%;
    }
    
    .member2nd {
        justify-content: space-between;
        width: 100%;
    }

    .memberinfo {
        width: 98%;
    }

    #mainImage {
        width: 80vw;
        height: 80vw;
        object-fit: contain;
        object-position: -40px;
        order: 2;
        margin-top: 150px;
    }

    #CharacterElement {
        width: 5vw;
        height: 5vw;
    }

    .characterNameContainer {
        order: 1;
    }

    .CharacterDescriptionContainer {
        order: 3;
        flex-direction: column;
        justify-content: flex-end;
    }

    .CharacterDescriptionContainer section {
        width: 100%;
    }

    #CharacterName, .CharacterJP {
        font-size: 12vw;
        text-align: center;
    }

    #CharacterDescription {
        font-size: 3vw;
    }

    .member2nd {
        flex-direction: column;
    }

    .memberindexes {
        height: 15%;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    #indexContainer {
        flex-direction: row;
        order: 1;
        height: 50%;
    }

    #indexContainer h1 {
        height: fit-content;
        padding: 10px;
        border: 2px solid white;
        border-radius: 15px;
        width: 130px;
        text-align: center;
    }

    #nextArrow {
        order: 2;
        justify-content: center;
        align-items: center;
        height: 50%;
    }

    #nextArrow article h1 {
        font-size: 3vw;
    }

    .arrowNext {
        opacity: 1;
        font-size: 3vw;
    }

    .talent img{
        width: 35px;
        height: 35px;
    }
    .talent h1{
        font-size: 3vw;
    }
}

@media only screen and (max-width:600px) {
    #CharacterDescription {
        font-size: 3.8vw;
    }

    .talent h1 {
        font-size: 5vw;
    }

    #mainImage {
        width: 130vw;
        height: 130vw;
        margin-top: 50px;
    }
}