.navbarContainer {
    width: 100vw;
    height: 50px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
    position: block;
    z-index: 1;
}

#home {
    text-decoration: none;
    background-image: repeating-linear-gradient(90deg, hsla(57,0%,42%,0.09) 0px, hsla(57,0%,42%,0.09) 1px,transparent 1px, transparent 60px),repeating-linear-gradient(0deg, hsla(57,0%,42%,0.09) 0px, hsla(57,0%,42%,0.09) 1px,transparent 1px, transparent 60px),repeating-linear-gradient(0deg, hsla(57,0%,42%,0.09) 0px, hsla(57,0%,42%,0.09) 1px,transparent 1px, transparent 10px),repeating-linear-gradient(90deg, hsla(57,0%,42%,0.09) 0px, hsla(57,0%,42%,0.09) 1px,transparent 1px, transparent 10px),linear-gradient(90deg, rgb(20,20,20),rgb(20,20,20));
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: black;
    font-weight: 800;
    margin: 0px 1vw;
    z-index: 1;
    transition: .2s;
    box-shadow: 5px 5px 10px transparent;
    border: 2px solid black;
}

#home:hover {
    background: white;
    box-shadow: 5px 5px 10px black;
}

.links {
    width: 10%;
}

.searchButton {
    width: fit-content;
    height: fit-content;
    border: 2px solid transparent;
    background: white;
    font-family: 'Inter';
    font-weight: 800;
    padding: 10px;
    border-radius: 15px;
    text-decoration: none;
    color: black;
    transition: .2s;
}

.searchButton:hover {
    border: 2px solid black;
}

@media only screen and (max-width: 991px) {
    .links {
        width: 15%;
    }
}