.navbarContainer {
    width: 100vw;
    height: 50px;
    max-width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: none;
    position: fixed;
    z-index: 1;
}

.navbarContainer a {
    text-decoration: none;
    background-image: repeating-linear-gradient(90deg, hsla(57,0%,42%,0.09) 0px, hsla(57,0%,42%,0.09) 1px,transparent 1px, transparent 60px),repeating-linear-gradient(0deg, hsla(57,0%,42%,0.09) 0px, hsla(57,0%,42%,0.09) 1px,transparent 1px, transparent 60px),repeating-linear-gradient(0deg, hsla(57,0%,42%,0.09) 0px, hsla(57,0%,42%,0.09) 1px,transparent 1px, transparent 10px),repeating-linear-gradient(90deg, hsla(57,0%,42%,0.09) 0px, hsla(57,0%,42%,0.09) 1px,transparent 1px, transparent 10px),linear-gradient(90deg, rgb(20,20,20),rgb(20,20,20));
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: black;
    font-weight: 800;
    margin: 0px 1vw;
    z-index: 1;
    transition: .2s;
    box-shadow: 5px 5px 10px transparent;
}

.navbarContainer a:hover {
    background: white;
    box-shadow: 5px 5px 10px black;
}

/* .navbarContainer a:hover:after {
    transform: translate(0);
}

.navbarContainer a:after {
    width: 30px;
    height: 30px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    content: 'G';
    display: block;
    color: white;
    transition: .2s;
    transform: translateY(-200%);
}

.navbarContainer a:hover:after {
    width: 100%;
} */